/*variables*/
$tipografia-proyecto: 'Roboto', sans-serif;
$fondo-proyecto: #ADC5D9;
$fondo-secundario-proyecto: #FFFFFF;
$color-principal-proyecto: #7595BF;
$color-secundario-proyecto: #3C5473;
$letras-proyecto: #020200;
$letras-secundario-proyecto: #BFDC58;
/*variables*/

/*mixins*/
@mixin heading-1 {
    font-family: $tipografia-proyecto;
    font-size: 48px;
    line-height: 58px;
    font-weight: bold;
    letter-spacing: 0px;
}
@mixin heading-2 {
    font-family: $tipografia-proyecto;
    font-size: 40px;
    line-height: 49px;
    font-weight: bold;
    letter-spacing: 0px;
}
@mixin heading-3 {
    font-family: $tipografia-proyecto;
    font-size: 32px;
    line-height: 39px;
    font-weight: bold;
    letter-spacing: 0px;
}
@mixin heading-4 {
    font-family: $tipografia-proyecto;
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 0px;
}
@mixin heading-5 {
    font-family: $tipografia-proyecto;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 0px;
}
@mixin heading-6 {
    font-family: $tipografia-proyecto;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    letter-spacing: 0px;
}
@mixin parrafo {
    font-family: $tipografia-proyecto;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0px;
}
@mixin enlace {
    font-family: $tipografia-proyecto;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0px;
}
/*mixins*/

/*tipografia */
h1 {
    @include heading-1;
}
.h1 {
    @include heading-1;
}
h2 {
    @include heading-2;
}
.h2 {
    @include heading-2;
}
h3 {
    @include heading-3;
}
.h3 {
    @include heading-3;
}
h4 {
    @include heading-4;
}
.h4 {
    @include heading-4;
}
h5 {
    @include heading-5;
}
.h5 {
    @include heading-5;
}
h6 {
    @include heading-6;
}
.h6 {
    @include heading-6;
}
p {
    @include parrafo;
}
a {
    @include enlace;
}

/*tipografia */
body{
    background-color: $fondo-proyecto;
}
header{
    background-color: $color-secundario-proyecto;
    .nav-link{
        color: #ADC5D9;
    }
    .nav-link:hover{
        background-color: $color-principal-proyecto;
        color: $fondo-secundario-proyecto;
    }
    .active{
        background-color: $color-principal-proyecto !important;
    }
}
main{
    color: $letras-proyecto;
}
footer{
    background-color: $color-principal-proyecto;
    a{
        color: $letras-proyecto;
    }
    a:hover{
        color: $letras-secundario-proyecto;
    }
}
.card{
    border: $letras-proyecto 1px solid;
    .card-header{
        background-color: $letras-secundario-proyecto;
        color: $letras-proyecto;
    }
}
.navbar-toggler{
    background-color: #BFDC58;
}
.icono{
    background-color: $fondo-proyecto;
    color: $letras-proyecto;
    height: 50px;
    width: 50px;
}
.icono:hover{
    background-color: $color-secundario-proyecto;
    color: $letras-secundario-proyecto;
}
.btn-primary{
    background-color: $color-principal-proyecto;
    border: none;
}
.btn-primary:hover{
    background-color: $color-secundario-proyecto;
}
.btn-secondary{
    border: none;
    background-color: $color-secundario-proyecto;
}
.btn-secondary:hover{
    background-color: $letras-secundario-proyecto;
    color: $color-secundario-proyecto;
}
.circulo{
    background-color: $color-secundario-proyecto;
    height: 200px;
    width: 200px;
}
.fa-user{
    font-size: 150px;
    color: $fondo-secundario-proyecto;
}